.App {
  text-align: center;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/556/930/small/RR-v-jan-2019-135.jpg)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h3, p {
  color: white;
}

.title {
  font-size: 27.5px;
}

.date {
  font-size: 26px;
}

h3 {
  border: solid white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border:3px solid blueviolet;
}

.App-link {
  color: #61dafb;
}

.nasa-photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation {
  max-width: 58%;
  color:aliceblue;
  border:3px solid rgb(114, 193, 219);
  background-color: #282c34;
  display: flex;
  /*max-height: 5%;*/
  /*margin-left: 3%*/
}

img {
  max-width: 55%;
  object-fit: cover;
  border:4px solid rgb(114, 193, 219);
}
